@font-face {
  font-family: Enriqueta;
  src: url('/styles/fonts/Fira_Sans/FiraSans-Regular.ttf') format('ttf');
}
@font-face {
  font-family: Enriqueta;
  src: url('/styles/fonts/Fira_Sans/FiraSans-Bold.ttf') format('ttf');
}
@font-face {
  font-family: Enriqueta;
  src: url('/styles/fonts/Fira_Sans/FiraSans-Italic.ttf') format('ttf');
}
@font-face {
  font-family: Enriqueta;
  src: url('/styles/fonts/Fira_Sans/FiraSans-Medium.ttf') format('ttf');
}

body {
  margin: 5%;
  padding: 0;
  font-family: 'Enriqueta', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
